h1 {
    color:red;
}

#container {
    background-color:  rgb(104, 206, 231);
    width: 100%;
    height: 500px;
    margin-left: 0%;
    display: flex;
}

#menu {
    background-color:  rgb(5, 5, 5);
    width: 100%;
    height: 22%;
    margin-left: 0px;
    margin-right: 0px;
}

#bier {
  background-color:  #f44336;
  color: white;
  padding: 25px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 20%;
}
 
 #wijn {
  background-color: #f44336;
  color: white;
  padding: 25px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 10%;
}
 
  #mixen {
  background-color: #f44336;
  color: white;
  padding: 25px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 10%;
}
 
  #overig {
  background-color: #f44336;
  color: white;
  padding: 25px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 10%;
}