figure {
  margin-left:3%;
  font-style: italic;
  font-size:  50px;
  text-indent: 0;
}


html,body{
    padding: 0;
    margin: 0;
}


h1 {
    color: #d6271a;
    text-align: center;
}

#container {
    background-color: rgb(77, 77, 77);
    width: 100%;
    height: 1000px;
}

#menu {
    background-color:  rgb(5, 5, 5);
    width: 100%;
    height: 15%;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 40px;
}

#index {
     background-color:  #f44336;
  color: white;
  padding: 25px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 10%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 5px solid rgb(23, 23, 245); 
}

#bier {
  background-color:  #f44336;
  color: white;
  padding: 25px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 10%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 5px solid rgb(23, 23, 245); 
}
 
 #wijn {
  background-color: #f44336;
  color: white;
  padding: 25px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 10%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 5px solid rgb(23, 23, 245);
}
 
  #mixen {
  background-color: #f44336;
  color: white;
  padding: 25px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 10%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 5px solid rgb(23, 23, 245);
}
 
  #jenever {
  background-color: #f44336;
  color: white;
  padding: 25px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 10%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 5px solid rgb(23, 23, 245);
}

#tekst {
    display: flex;
}
#brand {
    margin-left:10%;
}

#despo {
    margin-left:13%; 
}

#leffe {
    margin-left:13%;
}

#hertog {
    margin-left:13%;
}

#texels {
    margin-left:13%;
}

#affligem {
    margin-left:13%;
}

#burgsezot {
    margin-left:13%;
}
