h1 {
    color:red;
}
body{
    background-color: lime;
}
#container {
    background-color:  blueviolet;
    width: 50%;
    height: 500px;
    margin-left: 20%;
}

#menu {
    background-color: blue;
    width: 100%;
    height: 22%;
    margin-left: 0px;
    margin-right: 0px;
}
