.title {
  text-shadow: 1px 1px;
 font-family: Arial;
}

.kope {
   font-family:cursive;
    color:darkgreen;
}
 
.kop {
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkturquoise;
}

div {
  text-align: left;
  margin-right: 1000px;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}